* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  color: #1d1d1d;
  font-family: Barlow, Arial, Helvetica, sans-serif;
}

.container {
  max-width: none;
  padding: 0;
  margin: 0;
}

.header {
  height: 64px;
  padding: 0 8px;
  margin: 0;
}

.header .col {
  padding: 0 8px;
}

.header-logo {
  text-align: center;
  height: 100%;
}

.header-logo img {
  height: 156px;
  padding: 4px 0;
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
}

.header-buttons button {
  border: 1px solid #e10a0a;
  border-radius: 8px;
  background-color: #fff;
  color: #e10a0a;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  max-width: 96px;
  height: 32px;
}

.header-buttons .cancel-button {
  display: none;
}

.content-wrapper {
  padding: 0 8px;
  margin: 0;
}

.content {
  padding: 0 8px;
  margin: 80px 0 0;
}

h1 {
  color: #e10a0a;
  font-size: 28px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.14;
  margin-bottom: 16px;
}

p {
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
}

a {
  color: #1a1a1a;
  text-decoration: none;
}

a:hover {
  color: #1a1a1a;
}


.instruction {
  font-size: 14px;
  line-height: 16px;
  margin: 16px 0 0;
  max-width: 200px;
}

fieldset {
  border: 0;
  margin-top: 40px;
}

.form-verify-playback {
  font-size: 18px;
  font-weight: 600;
  word-wrap: break-word;
}

.form-verify-resend {
  color: #e10a0a;
  font-size: 14px;
  line-height: 16px;
  margin: 16px 0 0;
}

.show-trigger {
  margin-top: 50px;
}

.links {
  color: black;
  margin-top:10px ;
}

.links p {
  font-size: 16px;
}

.links a {
  text-decoration: underline;
}

/* Initial state control - toggle to dev css */
#form-mobile-verify,
#form-email-verify,
#auth0-mobile,
.form-error {
  display: none;
}

.step-title {
  color: #6f6f6f;
  font-family: Barlow, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 48px;
  margin-top: 50px;
}

@media screen and (min-width: 576px) {
  .header {
    padding: 0 32px;
  }

  .header .col {
    padding: 0 12px;
  }

  .content-wrapper {
    justify-content: center;
    padding: 0 32px;
  }

  .content {
    padding: 0 12px;
    padding-top: 56px;
  }
}

@media screen and (min-width: 992px) {
  .header {
    padding: 0 48px;
  }

  .content-wrapper {
    padding: 78px 0 0;
  }

  .content {
    max-width: 648px;
    padding: 56px 80px 72px 80px;
    margin: 0 auto;
  }
}
